ion-card{
    text-align: center; 
}

ion-input{
    color: #000000;
    background: #6b6b6b3d;
}

.chip{
    color: #ffffff;
    background: #000000;
}

.chip2{
    color: #ffffff;
    background: #2dd36f;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 10%;
}

.row{
    color: #ffffff;
    background: #000000;
}


