ion-card{
    text-align: center; 
}

ion-input{
    color: #ffffff;
    background: #222428b0;
}

.chip{
    color: #ffffff;
    background: #000000;
}

.chip2{
    color: #ffffff;
    background: #2dd36f;
}


.row{
    color: #ffffff;
    background: #000000;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 30%;
}

.img2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 100%;
}

