ion-content{
    --background: #000000;
}

ion-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 10%;
}

.fondo{
    --background: #000000;
    --color: #ffffff;
}